{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load render_table querystring from django_tables2 %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page emarsys-events{% endblock %}

{% block title %}
  Trigger event {{ event.name }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:emarsys-event-list' %}">{% trans "Emarsys event management" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ event.name }}</li>

    </ul>
{% endblock %}

{% block dashboard_content %}
    <form id="emarsys_event_trigger_form" action="{% querystring %}" method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
        <div id="subdomain_details">
            <div class="table-header">
                <h3>Event "{{ event.name }}"</h3>
            </div>
            <div class="well">
                <div class="row">
                    <div class="span5">
                      <h3>Event data</h3>
                      {% include "partials/form_fields.html" %}
                    </div>
                    <div class="span7">
                      <h3>Resulting placeholder data</h3>
                      <div id="emarsys_placeholder_data">
                        {% include "dashboard/emarsys/partials/placeholder_data.html" %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="form-actions">
                    <div class="pull-right">
                        <a href="{% url 'dashboard:emarsys-event-list' %}{% querystring %}">{% trans "Cancel" %}</a>
                        {% trans "or" %}
                        <button class="btn btn-primary btn-large" type="submit" data-loading-text="{% trans 'Triggering...' %}">
                            {% trans "Trigger event" %}
                        </button>
                    </div>
                </div>
            </div>
        {% endblock fixed_actions_group %}
    </form>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    $('#emarsys_event_trigger_form').on('change', 'input', function() {
      $.post("{% url 'dashboard:emarsys-event-placeholder-data' event.pk %}",
        $('#emarsys_event_trigger_form').serialize(), function(data) {
          $('#emarsys_placeholder_data').html(data);
      })
    });
{% endblock %}
